<div class="clearfix"></div>
<footer id="footer" class="footer invisible">
  <div class="container mt-40 pb-60 pt-20">
    <div class="row">
      <div class="col-sm-8">
        <div class="font-20 mb-10">Contact Us</div>
        <b>Phone:</b><br />
        {{ globals.contact_info.metadata.phone }}<br />
        <b>Email:</b><br />
        <a href="mailto:{{ globals.contact_info.metadata.email }}">{{ globals.contact_info.metadata.email }}</a>
        <br />
        <b>Address:</b><br />
        {{{ globals.contact_info.metadata.address }}}
      </div>
      <div class="col-sm-4">
        <div class="font-20 mb-20">Connect</div>
        <div class="mb-20">
          <a class="mr-10" href="{{ globals.social.metadata.facebook }}" target="_blank">
            <i class="fa fa-facebook font-26"></i>
          </a>
          <a class="mr-10" href="{{ globals.social.metadata.twitter }}" target="_blank">
            <i class="fa fa-twitter font-26"></i>
          </a>
          <a class="mr-10" href="{{ globals.social.metadata.google_plus }}" target="_blank">
            <i class="fa fa-google-plus font-26"></i>
          </a>
        </div>
        <div class="mb-20">
          &copy; {{ year }} {{ globals.footer.metadata.company_title }}
        </div>
        <a href="https://cosmicjs.com" target="_blank">
          <img class="pull-left mr-15 relative" src="https://cosmicjs.com/images/logo.svg" width="28" height="28">
          <span style="color: #666">Proudly powered by Cosmic JS</span>
        </a>
      </div>
    </div>
  </div>
  <!-- Load JavaScript files with CDN fallback -->
  <script src="/js/0-jquery.min.js"></script>
  <script>
    // Fallback to CDN if local jQuery fails
    if (typeof jQuery === 'undefined') {
      document.write('<script src="https://code.jquery.com/jquery-3.6.0.min.js"><\/script>');
    }
  </script>
  
  <script src="/js/1-jquery.mask.js"></script>
  <script src="/js/2-bootstrap.min.js"></script>
  <script>
    // Fallback to CDN if local Bootstrap fails
    if (typeof $().modal === 'undefined') {
      document.write('<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"><\/script>');
    }
  </script>
  
  <script src="/js/3-main.js"></script>
  <script src="/js/carousel-fix.js"></script>
  
  <!-- Embedded JavaScript for basic functionality -->
  <script>
    $(document).ready(function() {
      // Basic carousel functionality
      if ($('#carousel-example-generic').length) {
        var currentSlide = 0;
        var slides = $('.carousel-inner .item');
        var totalSlides = slides.length;
        
        // Show first slide
        slides.eq(0).addClass('active').show();
        
        // Auto-rotate carousel
        setInterval(function() {
          slides.eq(currentSlide).removeClass('active').hide();
          currentSlide = (currentSlide + 1) % totalSlides;
          slides.eq(currentSlide).addClass('active').show();
        }, 5000);
        
        // Manual controls
        $('.carousel-control.left').click(function(e) {
          e.preventDefault();
          slides.eq(currentSlide).removeClass('active').hide();
          currentSlide = (currentSlide - 1 + totalSlides) % totalSlides;
          slides.eq(currentSlide).addClass('active').show();
        });
        
        $('.carousel-control.right').click(function(e) {
          e.preventDefault();
          slides.eq(currentSlide).removeClass('active').hide();
          currentSlide = (currentSlide + 1) % totalSlides;
          slides.eq(currentSlide).addClass('active').show();
        });
      }
      
      // Basic form functionality
      $('.phone-mask').mask('000-000-0000');
      
      // Sticky footer
      function stickyFooter() {
        var windowHeight = $(window).height();
        if (windowHeight > $('#footer').height() + $('#header').height() + $('#main').height()) {
          $('#footer').addClass('sticky');
        } else {
          $('#footer').removeClass('sticky');
        }
        $('#footer').removeClass('invisible');
      }
      
      $(window).on('load resize', stickyFooter);
      stickyFooter();
    });
  </script>
</footer>
</body>
</html>